// Nextflow configuration file for RNA-seq pipeline

// Pipeline parameters
params {
    // Input/Output
    reads = "/home/kiennm/Nextflow_Study/RNA_seq_data/*_{1,2}.fastq.gz"
    output = "/home/kiennm/Nextflow_Study/results"
    
    // Reference genome files
    genome_fasta = "/home/kiennm/Nextflow_Study/genome/genome.fa"
    gtf = "/home/kiennm/Nextflow_Study/genome/annotation/genes.gtf"
    star_index = "/home/kiennm/Nextflow_Study/genome/STAR_index"
    
    // Pipeline options
    skip_star_index = false  // Set to true if STAR index already exists
}

// Process configuration
process {
    // Default settings for all processes
    cpus = 2
    memory = '4 GB'
    time = '2h'
    
    // Process-specific settings
    withName: TRIM_GALORE {
        cpus = 4
        memory = '8 GB'
    }
    
    withName: STAR_INDEX {
        cpus = 8
        memory = '32 GB'
        time = '4h'
    }
    
    withName: STAR_ALIGN {
        cpus = 8
        memory = '32 GB'
        time = '4h'
    }
    
    withName: FEATURE_COUNTS {
        cpus = 8
        memory = '8 GB'
    }
}

// Execution profiles
profiles {
    standard {
        process.executor = 'local'
    }
    
    conda {
        process.conda = 'bioconda::trim-galore bioconda::fastqc bioconda::multiqc bioconda::star bioconda::samtools bioconda::subread'
    }
    
    docker {
        docker.enabled = true
        process.container = 'nfcore/rnaseq:3.12.0'
    }
    
    singularity {
        singularity.enabled = true
        process.container = 'nfcore/rnaseq:3.12.0'
    }
}

// Report options
report {
    enabled = true
    file = "${params.output}/reports/report.html"
}

timeline {
    enabled = true
    file = "${params.output}/reports/timeline.html"
}

trace {
    enabled = true
    file = "${params.output}/reports/trace.txt"
}

dag {
    enabled = true
    file = "${params.output}/reports/dag.svg"
}

// Manifest
manifest {
    name = 'RNA-seq Analysis Pipeline'
    author = 'Your Name'
    description = 'Comprehensive RNA-seq data analysis from raw reads to gene counts'
    version = '1.0.0'
    nextflowVersion = '>=21.04.0'
}
