// Default config options for all computation environments

// Global defaults params used throughout the pipeline
params {
    // Input options
    input = null

    // References
    geome = null

    // Trimming 
    trimmer = 'trimgalore'
    min_trimmed_reads = 
    extra_trimgalore_args = null

    // Alignment

    // QC


}

// Default publishing logic for pipeline
process {
    publishDir =  [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}

// Load base.config by default for all pipeline
includeConfig 'conf/base.config'

profile {
    debug {
        dumpHashes = true
        process.beforeScript = 'echo $HOSTNAME'
        cleanup = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled = true
        docker.enabled = false
        singularity.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enbaled = false
        conda.channels = ["conda-forge", "bioconda"]
        apptainer.enbaled = false
    }
    mamba {
        conda.enabled = true
        conda.useMamba = true
        docker.enabled = false
        singularity.enable = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enbaled = false
        apptainer.enbaled = false
    }
    docker {
        docker.enabled = true
        conda.enabled = false
         singularity.enable = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enbaled = false
        apptainer.enbaled = false
        docker.runOptions = ['-u', '$(id -u):$(id -g)']   
    }
    arm {
        docker.runOptions = ['--platform', 'linux/arm64', '-u', '$(id -u):$(id -g)']
        includeConfig 'conf/arm.config'
    }
    singularity{
        singularity.enabled = true
        singularity.autoMounts = true
        conda.enabled = false
        docker.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enbaled = false
        apptainer.enbaled = false
    }
    podman {
        podman.enabled = true
        conda.enabled = false
        docker.enabled = false
        singularity.enable = false
        shifter.enabled = false
        charliecloud.enbaled = false
        apptainer.enbaled = false
    }
    shifter {
        shifter.enabled = true
        conda.enabled = false
        docker.enabled = false
        singularity.enable = false
        podman.enabled = false
        charliecloud.enbaled = false
        apptainer.enbaled = false
    }
    charliecloud {
        charliecloud.enabled = true
        conda.enabled = false
        docker.enabled = false
        singularity.enable = false
        podman.enabled = false
        shifter.enabled = false
        apptainer.enbaled = false
    }
    apptainer {
        apptainer.enabled = true
        conda.enabled = false
        docker.enabled = false
        singularity.enable = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enbaled = false
    }
    wave {
        apptainer.ociAutoPull = true
        singularity.ociAutoPull = true
        wave.enabled = true
        wave.freeze = true
        wave.strategy = 'conda,container'
    }
    gitpod {
        
    }
}



